*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#nav{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#hy,#mh,.fas,button{
    padding: 3px 4px;
}
#hy:hover,#mh:hover,.fas:hover,button:hover{
 background-color: aliceblue;
 cursor: pointer;
 border: 1px solid ;
 border-radius: 10px;
}
#pt{
    width: 100%;
    display: grid;
    height: 500px;
    place-items: center;
    background-image: url(https://stimg.cardekho.com/images/uploadimages/1649418483823/reviews-cars-web.png);
    background-size: 100% 100%;
    animation: changeimage 20s linear infinite;
}
 #box{
    border: 1px solid blue;
    display: flex;
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: aliceblue;
    
} 

#b1{
    border:  1px solid  teal;
    text-align: center;
    height: 40px;
    margin: 10px;
}
#b2{
    border: 1px solid red;
    height: 40px;
    margin: 10px;
}
#middle{
    background-color: rgb(214, 214, 214);
    margin-top: -40px;
}
#middle>div{
    width:80%;
    margin: auto;
}
#mid,.mil{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#mid img,#midd img{
    border-radius: 10px;
}

#mi>div,#mid>div{
    width:30%;
    border-radius: 5px;
}
#middle img{
    width:100%;
}
#middle>h3:first-child{
    padding-top: 40px;
    padding-bottom: 20px;
}
#middle>h3{
  margin-top: 40px;
  color: gray;
  margin-left: 150px;
  padding-top: 30px;
  font-size: 24px;
}
#middle>#midd{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
#midd>div{
    width:22%;
}
#mi{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
#mi img{
    width: 100%;
}
.mi1{
    display:flex;
    gap:10px;
    background-color: white;
    margin: 10px;
    padding:15px
}
#fq{
    background-color: white;
    padding:20px 10px;
    border-radius: 10px;
}
#fq p,h2{
    margin-bottom: 10px;
    margin-top: 10px;
}
.mil>div{
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}
.mil p{
    text-align: center;
    margin-top: 10px;
    width: 100%;
}
.mil{
    gap:10px;
    padding: 10px;
}
#hell,#lower{
    background-color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    display: flex;
    padding: 15px;
    text-align: center;
}
#lower>div:hover{
 border: 1px solid;
 background-color: rgb(196, 196, 196);
}
#hell>div,#lower>div{
    width: 22%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
}
#hell img{
    width: 30%;
}
#lower img{
    width: 80%;
}
#lower+#low{
    background-color: rgb(45, 45, 45);
    margin-top: 40px;
    border-radius: 10px;
}
#low1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

}
#low>h2{
    color:white;
    padding: 25px;
    margin-left: 70px;
}
#low1>div{
    color: whitesmoke;
    line-height: 30px;
    padding-bottom: 25px;
}
#low+#wer{
    background-color: white;
    display: flex;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;

}
#wer img{
    width: 40%;
}
#wer>div{
    width: 30%;
}
#wer>div:nth-child(2){
    line-height: 35px;
    text-align: center;
}
#wer>div:nth-child(3){
    padding: 10px;
}
#down,#downn{
    border: 1px solid black;
    display: inline-flex;
    margin: 20px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}
#down>img,#downn>img{
width: 10%;
}
#down:hover,#downn:hover{
    color: aquamarine;
}
#wer+#foot{
    line-height: 25px;
    margin-top: 40px;
    padding-left: 20px;
}
ul{
 line-height: 30px;   
}
#foot>h2{
    margin-top: 40px;
    color: gray;
}
#foot>p{
    width: 90%;
}
@keyframes changeimage{
    0%{
       background-image: url(https://www.cars24.com/js/add769d31f2a340dc1ce173ff5a95adf.webp); 
    }
    25%{
        background-image: url(https://stimg.cardekho.com/images/uploadimages/1652792525448/CD-1686x548-copy.png);
    }
    50%{
        background-image: url(https://www.mychoize.com/imgs/banners/sliders/web-220630115126526715.jpg);
    }
    75%{
        background-image: url(https://www.mychoize.com/imgs/banners/sliders/web-220630115152996117.jpg);
    }
    100%{
        background-image: url(https://www.mychoize.com/imgs/banners/sliders/web-220630010554572179.jpg);
    }
}